.header {
    padding: 20px 0;
    background-color: var(--light-purple);
    width: 100%;
    position: fixed;
    top: 0;
}
/* About */
.about_wrapper {
    padding: 60px 15px 60px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_container,
.intro_title {
    color: var(--black);
    font-size: 48px;
    text-transform: uppercase;
}

.intro_title {
    margin-bottom: 25px;
}

/* Animation */

.animation {
    height: 59px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.animation>div>div {
    height: 59px;
    display: inline-block;
}

.animatedText,
.strong {
    color: var(--light-purple);
}

.animation div:first-child {
    height: 59px;
    animation: text-animation 8s infinite;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -90px;
    }

    30% {
        margin-top: -90px;
    }

    40% {
        margin-top: -180px;
    }

    60% {
        margin-top: -180px;
    }

    70% {
        margin-top: -90px;
    }

    80% {
        margin-top: -90px;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

.article {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
}

.contact_button {
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 16px;
    color: var(--light-purple);

    &:hover {
        border: 1px solid var(--white);
        background-color: var(--light-purple);
        color: var(--white);
    }
}

/* About images */

.images_container {
    display: flex;

    & .image_column {
        padding: 0 10px;

        & .image_wrapper1 {
            display: flex;
            justify-content: end;
            margin: 10px 0;
        }

        & .image_wrapper2 {
            margin: 10px 0;
        }
    }

    & .image_column>div>img {
        border-radius: 10px;
    }
}